html,body {
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0px;
    font-family: 'Playfair Display', serif;
}

body p{
  font-size: 25px;
  color: #8E8E8E;
}

.footer a{
  font-size: 14px;
}

.nav a{
  font-size: 50px;
}

..nav-link{
  color: #000;
}
/* DEFAULT */

.transition {
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	-webkit-transition-timing-function: cubic-bezier(.4,0,.5,1);
	-moz-transition-timing-function: cubic-bezier(.4,0,.5,1);
	transition-timing-function: cubic-bezier(.4,0,.5,1);
}

.centred {
	-webkit-transform: translateX(-50%)translateY(-50%);
	-moz-transform: translateX(-50%)translateY(-50%);
	transform: translateX(-50%)translateY(-50%);
}

.clearfix {
	clear: both;
}

.container {
    text-align: center;
}

h1 {
    margin: -2em 0 1em;
    font-weight: 100;
    color: #615F5F;
    position: relative;
    line-height: 30px;
    font-family: 'Playfair Display', serif;
}

h1:after {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: -.5em;
    background-color: #ddd;
    left: 50%;
    margin-left: -50px;
    font-family: 'Playfair Display', serif;
}

circle,line,path {
	stroke-linecap: round;
	stroke: #fff;
	stroke-width: 10px;
}

/* CARD */

#card-head .card-header {
    /*background-color: #58C6C2;*/
}

#new-york .card-header {
    background-color: #BB5771;
}

#new-york .col .card-body-icon svg path, #new-york .col .card-body-icon svg line {
    stroke: #BB5771;
}

.card {
    background-color: #fff;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin: 2em;
    display: inline-block;
    margin-bottom: 30px;
    padding-top: 4%;
    padding-bottom: 4%;
}


.card svg {
	display: inline-block;
	width: 100%;
	height: auto;
}

.card-header {
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    min-height: 30px;
    z-index: 1;
    text-align: left;
}

.card-body-icon p{
  font-family: "minion-pro";
}

.left-side {
    float: left;
    width: 60%;
}

.nav{
  font-family: 'Playfair Display', serif;
}

h2.city {
    font-size: 1.2em;
    font-weight: 300;
    margin: 0 0 20px;
    position: relative;
}

h2.city:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -11px;
}

span.currently-weather {
    text-transform: uppercase;
    font-weight: 300;
    font-size: .8em;
}

.wind {
    font-size: .8em;
    font-weight: 300;
    line-height: 1em;
    margin-top: 5px;
}

span.wind-icon {
    display: inline-block;
    width: 20px;
    background: url(../img/wind.png) no-repeat center / contain;
    height: .8em;
    vertical-align: bottom;
    margin-right: 5px;
}

span.mph {
    font-size: .6em;
    margin-left: 3px;
    text-transform: uppercase;
    line-height: 1em;
}

span.temperature {
    font-size: 2em;
    font-weight: 100;
    margin-top: 1em;
    display: block;
    line-height: 1em;
}

.card-body-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 30%;
    transform: translateY(-50%);
}

.card-body-icon h1{
  font-size: 18px;
}

/*.card-body-icon p{
  font-size: 10px;
}*/

.header-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: .5;
    z-index: -1;
}

.col {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

span.day {
    display: block;
    font-weight: 300;
    color: #888;
    text-transform: uppercase;
}

.col .card-body-icon {
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    transform: none;
    margin: 20px 0 0;
}

.col .card-body-icon svg {
    width: 80%;
    height: auto;
}

.col:nth-child(2) {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #f9f9f9;
}

#san-francisco .col .card-body-icon svg path, #san-francisco .col .card-body-icon svg line {
    stroke: #3D6AA2;
}

	/* SVG SUNNY */

		/* CIRCLE */

		#sunny circle {
			-webkit-animation: sunny_circle 2s forwards;
			-moz-animation: sunny_circle 2s forwards;
			animation: sunny_circle 2s forwards;
		}

		@-webkit-keyframes sunny_circle {
			0% {stroke-dasharray: 100;stroke-dashoffset: 470;}
			100% {stroke-dasharray: 470;stroke-dashoffset: 0;}
		}

		@-moz-keyframes sunny_circle {
			0% {stroke-dasharray: 100;stroke-dashoffset: 470;}
			100% {stroke-dasharray: 470;stroke-dashoffset: 0;}
		}

		@keyframes sunny_circle {
			0% {stroke-dasharray: 100;stroke-dashoffset: 470;}
			100% {stroke-dasharray: 470;stroke-dashoffset: 0;}
		}

		/* LINE */

		#sunny line {
			stroke-dasharray: 60;
			stroke-dashoffset: 60;
			-webkit-animation: .5s sunny_line 1s forwards;
			-moz-animation: .5s sunny_line 1s forwards;
			animation: .5s sunny_line 1s forwards;
		}

		@-webkit-keyframes sunny_line {
			0% {stroke-dasharray: 60;stroke-dashoffset: 60;}
			100% {stroke-dasharray: 60;stroke-dashoffset: 0;}
		}

		@-moz-keyframes sunny_line {
			0% {stroke-dasharray: 60;stroke-dashoffset: 60;}
			100% {stroke-dasharray: 60;stroke-dashoffset: 0;}
		}

		@keyframes sunny_line {
			0% {stroke-dasharray: 60;stroke-dashoffset: 60;}
			100% {stroke-dasharray: 60;stroke-dashoffset: 0;}
		}

	/* SVG PARTIALLY */

		/* CLOUD */

		#partially path:nth-child(1) {
			-webkit-animation: partially_cloud 2s forwards;
			-moz-animation: partially_cloud 2s forwards;
			animation: partially_cloud 2s forwards;
		}

		@-webkit-keyframes partially_cloud {
			0% {stroke-dasharray: 730;stroke-dashoffset: 730;}
			100% {stroke-dasharray: 730;stroke-dashoffset: 0;}
		}

		@-moz-keyframes partially_cloud {
			0% {stroke-dasharray: 730;stroke-dashoffset: 730;}
			100% {stroke-dasharray: 730;stroke-dashoffset: 0;}
		}

		@keyframes partially_cloud {
			0% {stroke-dasharray: 730;stroke-dashoffset: 730;}
			100% {stroke-dasharray: 730;stroke-dashoffset: 0;}
		}

		/* SUN */

		#partially path:nth-child(2) {
			stroke-dasharray: 240;
			stroke-dashoffset: 240;
			opacity: 0;
			-webkit-animation: 2s partially_sun 1s forwards;
			-moz-animation: 2s partially_sun 1s forwards;
			animation: 2s partially_sun 1s forwards;
		}

		@-webkit-keyframes partially_sun {
			0% {opacity: 0;}
			1% {stroke-dasharray: 240;stroke-dashoffset: 240;opacity: 1;}
			100% {stroke-dasharray: 240;stroke-dashoffset: 480;opacity: 1;}
		}

		@-moz-keyframes partially_sun {
			0% {opacity: 0;}
			1% {stroke-dasharray: 240;stroke-dashoffset: 240;opacity: 1;}
			100% {stroke-dasharray: 240;stroke-dashoffset: 480;opacity: 1;}
		}

		@keyframes partially_sun {
			0% {opacity: 0;}
			1% {stroke-dasharray: 240;stroke-dashoffset: 240;opacity: 1;}
			100% {stroke-dasharray: 240;stroke-dashoffset: 480;opacity: 1;}
		}

.credits {
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 3em;
    text-decoration: none;
    font-weight: 300;
    color: #000;
    padding-bottom: 2em;
    text-align: center;
}

.credits a {
    text-decoration: none;
    color: #AD536B;
    display: inline-block;
    vertical-align: middle;
}

.credits a:hover {
    color: #366597;
}

.social img {
    max-width: 30px;
    max-height: 30px;
    margin: 0 .5em;
    opacity: .3;
}

.social img:hover {
    opacity: .8;
}

.social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

.card-logo img{
   height:80px;
   width:80px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border-radius: 50%;
}

.university-alumni img{
  height: 40px;width: 40px;border-radius: 50%; margin-left: -7px;
}

.card-body-icon p{
  color:#B0AEAE;
  font-size: 15px;
}
