{% extends "gradnet/base.html" %} {% load static %}
{% block content %}
    <div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="myModalLabel">You are sending message to alumni</h4>
    </div>
    <div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form method="POST">
                     <h1>  {{ error_message }}</h1>
                    {% csrf_token %}
                    <br>
                    <input type="text" name="message_body" class="form-control" placeholder="type your message">
                    <button class="btn btn-default" type="submit">send</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
